:root {

  --prim: #fffdfd;
  --sec: #cbd2d0;
  --bg-prim:#731963;
  --bg-sec:#0b3c49;
  --spacing-small: 8px;
  --spacing-large: 16px;
  
}

html{
    max-height: 100vh;
}
body{
    margin:0;
    padding:0;
    background-color:azure;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--sec);
    border-bottom: 1px solid blue;  
    padding:40px 30px;
    align-items: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: var(--bg-prim);
    padding:30px 50px;
    color:white;
    min-height: 100%;
    
    
}

.content{
    display: flex;
    min-height: 100vh;
    width: auto;
}

.dashboard{
    display: flex;
    flex-direction: column;
    background-color: var(--prim);
    width: 100%;
    height: 100%;
    
}
.links{
    display: flex;
    flex-direction: row;
    gap:10px;
}