:root {
    --vdark-bg:#2d232e;
    --dark-bg: #F1F0EA ;
    --med-bg: #534B52;
    --vvlight-bg: #474448;
    --vlight-bg:#64dfdf;
    --light-bg: #48bfe3;
    --font-prim: #E0DDCF;
    --font-sec: #e9ecef;
    --font-dark: #6c757d; 
}

html{
    max-height: 100vh;
}
body{
    margin:0;
    padding:0;
    background-color:var(--dark-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--med-bg);
    border-bottom: 1px solid var(--vvlight-bg);  
    padding:40px 30px;
    align-items: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--font-prim);
}
.title{
    margin-left: 45px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: var(--vdark-bg);
    padding:30px 50px;
    color:var(--font-prim);
    min-height: 100%;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

.content{
    display: flex;
    min-height: 100vh;
    width: auto;
    background-color: var(--dark-bg);

}

.dashboard{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}
.links{
    display: flex;
    flex-direction: row;
    gap:15px;
    font-size: 20px;
    color: var(--font-prim);
    
}
.links>*:visited,.links>*:hover{
    color: var(--font-prim);
}
.links > * {
    border: 2px solid var(--vdark-bg);
    padding: 5px 15px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap:15px;
    text-wrap: nowrap;
    font-size: 16px;
}
.buttons > *{
    border:2px solid var(--vvlight-bg);
    padding:10px 20px;
}

