
.ProjectBar{
    display:flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: var(--bg-sec);
    color:white;
    margin: 10px 20px;
    max-width: 95%;
    width:100%;
    max-height: 50px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
}

.ProjectBar.Expanded{
    max-height: 300px;
}

.ProjectTopBar{
    display: flex;
    flex-direction: row;
    color:var(--sec); 
    justify-content: space-between;
    
}
.ProjectTopBar.Expanded{
    font-size: 20px;
}

.ProjectExpiry{
    color:var(--sec);

}

.ProjectTitle{
    font-size: 20px;
    color: var(--prim);
}

.arrowButton{
    object-fit: contain;
    width:20px;
    height:20px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.buttonHolder{
    
    height: 20px;
    width: 20px;
}

.addImage{
    width:20px;
    height:20px;
    object-fit: contain;
    align-self:flex-end;
}
.tasksArea{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.arrowButton.Expanded{
    transform: rotate(180deg);
    
}