.taskBar{
    max-width:100%;
    
    height:100px;
    opacity: 100;
    transform: translateY(0px);
    transition: 
    opacity 0.5s ease-in-out 0.2s,
    transform 0.5s ease-in-out 0s;
    display: flex;
    flex-direction: row;
    
 
}
.taskTopRow{
    display: flex;
    justify-content: space-between;
    padding:10px 15px;

}
.taskBar.removeTask{
    opacity: 0;
    transform: translateX(50px);
}
.taskContent{
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    font-size: 18px;
    width: 100%;
    background-color: var(--vdark-bg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.taskPrior{
    width:10px;
    height:100%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.done{
    all:unset;
    height: 20px;
    width: 22px;
    border-radius: 40%;
    background-color: var(--font-prim);
}

.taskTitle{
font-weight: bold;
font-size: 20px;
}